.footer {
  display: flex;
  justify-content: center;
  box-sizing: border-box;
}

.footer__copyright {
  width: 194px;
  height: 16px;
  top: 1968px;
  left: 543px;
  font-size: 16px;
  line-height: 1.5;
}
